.columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
	padding-top: 1em;
	margin-left: 10%;
	margin-right: 10%;
}

.columns2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
	padding-top: 0em;
	list-style: none;
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0px;
}

.columns3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
	padding-top: 0em;

}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}